.header {
    height: 13vh;
    border: 1px solid transparent;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header:hover {
    cursor: pointer;
}